/* CSS */
body {
  font-family: Batang, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.header a {
  color: #fff;
  /* text-decoration: none; */
}
.header a:hover{
  color:rgb(128, 151, 255);
}

.mainContent {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.answerMsg1 {
  display: flex;
  color: red;
  font-weight: 900;
  font-size: 50px;
}

.answerMsg2 {
  display: flex;
  color:  blue;
  font-weight: 700;
  font-size: 50px;
}

.row {
  margin-bottom: 30px;
}

.row h2 {
  margin-bottom: 10px;
  padding-bottom: 5px; /* 問題タイトルの下に少し余白を設定 */
  border-bottom: 1px solid #ccc; /* 問題タイトルの下にボーダーラインを表示 */
}

form {
  margin-top: 15px;
}

form p {
  margin-bottom: 5px;
}

label {
  margin-right: 15px;
}

.kaitou {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.kaitou:hover {
  background-color: rgb(128, 151, 255);
  color: #fff;
}

input[type="radio"] {
  margin-right: 5px; /* ラジオボタンと選択肢の間隔を調整 */
}


/* */

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container button {
  flex-basis: 30%;
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-container button:hover{
  color: #ffffff;
  background-color:gray;
}

.logout-button {
  display: flex;
  justify-content: center;
}

input[name="out"] {
  flex-basis: 30%;
  background-color: rgb(255, 33, 63);
  color: #fff;
  width: 230px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[name="out"]:hover {
  color: #ffffff;
  background-color:rgb(255, 75, 99);
}

#mainButton {
  flex-basis: 30%;
  background-color: #3557f0;
  color: #fff;
  width: 230px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#mainButton:hover {
  color: #ffffff;
  background-color:rgb(128, 151, 255);
}

/* */
.preview {
  /* position: fixed; */
  margin-top: 20px;
  bottom: 10px;
  right: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
